body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.top-banner{
    background-image: url("../images/donation12.png");
    text-align: center;
    color: white;  
    padding:200px; 
    padding-top: 300px;
    
}
.top-heading{
    font-size: 60px;
    line-height: 50px;
}
.top-description{
    font-size: 20px;
    line-height: 5px;
}
.button{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: rgb(240, 93, 93);
    padding: 20px 30px;
    border-radius: 10px;
}
.btn{
    margin-top: 100px;
}
/* Donate Today */
.donate-div{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.donate-heading{
    font-size: 40px;
}
.grey-color{
    color: grey;
    font-weight: 500;
    font-size: 18px;
}
.amount-div{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.amount{
    margin: 15px;
    color: gray;
    font-size: 30px;
    background-color: rgb(250, 248, 248);
    border-radius: 5px;
    padding: 0 30px;
}
#red-amount{
    color:rgb(240, 93, 93) ;
    border:2px solid rgb(240, 93, 93);
    background-color: rgb(248, 231, 231);
}
.other-amount{
    text-align: center;
    width: 900px;
    margin: 0 auto;
}
.other-amount p{
    margin: 20px;
}
.btn-margin{
    margin-top: 50px;
    margin-bottom: 200px;
}
/* our donat plan */
.donation-plan{
    display: flex;
    width: 1200px;
    margin: 0 auto;
}
.donate-item{
    padding: 40px;
    margin: 15px;
    border-radius: 5px;
}
.donate-item h3{
    font-size: 30px;
}
#family{
background-color:rgb(234, 247, 253) ;
}
#shelter{
background-color:rgb(247, 235, 237) ;
}
#education{
background-color: rgb(248, 228, 204) ;
}
/* get my update */
.form-div{
width: 700px;
margin: 0 auto;
background-color: rgb(242, 247, 218);
padding: 80px;
}
.email{
    border: none;
    padding: 15px 70px;
    background-color: rgb(230, 223, 223);
    font-size: 20px;
    margin:20px 0 0 100px;
}
#subscribe-btn{
    padding: 15px 20px;
    border-radius: 0 5px 5px 0;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    margin-top: 150px;
}
footer h4{
    font-size: 30px;
    color: rgb(240, 93, 93);
}